/* Pc view of the webpage */
* {
  width: 100%;
}
body {
  background-color: rgb(10, 100, 100);
  cursor: pointer; width: 50%; margin: 0 auto;
}
h1 {
  background: linear-gradient(cyan 50%, grey 50%);
  padding-left: 0.8rem; margin-top: 0.5rem;
}
#output {
  padding: 0.5rem; margin-bottom: 0.5rem;
  background-image: url("./image/flexisafLogo.png");
  background-repeat: no-repeat; background-position: right;
  background-size: contain;
  background-color: rgb(32, 71, 248);
}
button {
  font-weight: bold; background-color: hsl(88, 93%, 48%);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem; margin-left: 0.5rem;
}
h1,
#output,
button {
  border: 0.25rem solid #aaa; border-radius: 10px 0px;
}
ul {
  display: flex; list-style: none;
}
tr > th > a {
  text-decoration: none; list-style: none; color: #fff;
  background: linear-gradient(grey 50%, blue 50%);
}
th {
  padding: 10px 20px 20px 30px; text-align: left;
}

div > table {
  width: 100%;
}
table,
th {
  border: 1px solid white; border-collapse: collapse;
}

/* Mobile view of the webpage */
@media screen and (max-width: 1000px) {
  body {
    background-color: lightseagreen; width: 100%; margin: 1%;
  }
  tr > th > a {
    text-decoration: none; list-style: none;
    background: linear-gradient(blue 50%, grey 50%);
  }
  #output {
    background-color: blue;
  }
}
